# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Secrets
.env
.env.*
!.env.example

# Editors
.idea/
.vscode/
*.swp


deliverables/
project/
Project 12.pdf